<div id="sidebar">
	
	
	<a href="installation.html#Introduction">Introduction</a>
	<a href="installation.html"><h3> System Requirements</h3></a>
	<a href="installation.html"><h3> Network Requirements</h3></a>
	<a href="installation.html"><h3> Software Requirements</h3></a>
	<a href="installation.html"><h3> Installation and Setup</h3></a>
	<a href="installation.html"><h3> Software Configuration Manual</h3></a>
	<a href="installation.html"><h3> User Interface Configuration Manual</h3></a>
	<a href="installation.html"><h3> Advanced Configuration</h3></a>
	<a href="installation.html"><h3> Version Upgrade form 0.9.1-osf to 0.12.5-6-osf</h3></a>
	<a href="installation.html"><h3> Scalability Mode Confiuration </h3></a>
	<a href="installation.html"><h3> Architecture and Deploy</h3></a>
	<a href="installation.html"><h3>Installation and Configuration procedure with an empty database</h3></a>
	<a href="installation.html"><h3>Installation and Configuration procedure with an already existing database</h3></a>
	

	<!-- Sidebar -->
	<!-- {% for post in site.posts offset: 0 limit: 2 %}
		<section>
			Introduction
			
			<h3>{{ post.title }}</h3>
			{{ post.excerpt }}
			<footer>
				<a href="{{ site.baseurl }}{{ post.url }}" class="button">Continue Reading</a>
			</footer>
		</section>
	{% endfor %}
	--> 
</div>
